
.container {
    width: 100%;
    height: 100%;
    

    
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 30%;
    min-height: 30%;
    width: 100%;
    height: 100%;
}

.slogan {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    margin-left: 20px;
    max-width: 100%;
    max-height: 100%;
    min-width: 50px;
    min-height: 50px;
    
    

}

.slogan h2 {
    color: #d3edee;
    font-weight: 500;
    font-size: 2.3em;
    font-weight: bold;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.slogan h3 {
    background-color: #d3edee;
    color: #1d78bc;
    font-weight: 500;
    font-size: 2.3em;
    font-weight: bold;
    width: 13.7rem;
    border-radius: 2px;
    opacity: 0.9;
    -webkit-margin-before: 1.5px;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.bgVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    
}

.logovideo {
    max-width: 500px;
    max-height: 160px;
    min-width: 50px;
    min-height: 6px;
}