@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

.Services {
    background-color: #272838;
    
    width: 100%;
    height: 900px;
}

.title {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    color: #fff;
    font-size: 56px;
    font-family: Ubuntu;
    text-align: center;
}


.CardServicesTop{
    display: flex;
    justify-content: center;
    text-align: center;
    
}


.CardServicesTop h1 {
    margin-top: 20px;
    color: #fff;
    font-size: 33.95px;
    font-weight: 700;

}

.CardServicesTop p {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.Service1 {
    
    
    width: 370px;
    height: 350px;
    margin-right: 20px;
}

.Service2 {
    
    width: 370px;
    height: 350px;
    margin-right: 20px;
}

.Service3 {
    
    width: 370px;
    height: 350px;
    
}


.CardServicesBotton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-align: center;

}

.CardServicesBotton h1 {
    margin-top: 20px;
    color: #fff;
    font-size: 33.95px;
    font-weight: 700;
}

.CardServicesBotton p {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.Service4 {
    width: 370px;
    height: 350px;
    margin-right: 20px;
}

.Service5 {
    width: 370px;
    height: 350px;
    margin-right: 20px;
}

.Service6 {
    width: 370px;
    height: 350px;
    
}
