
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    margin-bottom: 14px;
}

.form{

    display: flex;
    flex-direction: column;
  }

  .input{
    margin-bottom: 14px;
    color: black;
    background: white;
    height: 34px;
    border-radius: 4px;
    border: 0;
    padding: 0 8px;
    background-color: none;
  }

  .textarea{
    margin-bottom: 14px;
    border-radius: 4px;
    color: black;
    background: white;
    border: 0;
    padding: 8px;
    height: 150px;
    resize: none;
  }


  .button{
    height: 34px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    background-color: #10214d;
    font-size: 18px;
    transition: background-color, transform 0.8s;
  }
  
  .button:hover{
    background-color: #2199f5;
    transform: scale(1.01);
  }
