.container {
  padding: 0 1rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frameBody {
  border-radius: 50px;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indexText {
  border-radius: 8px;
  margin-left: 40px;
  width: 80%;
}

.indexImage {
  border-radius: 20%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #10214d;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
