@keyframes gira {
    to {
        transform: rotate(360deg);
        
    }
}

#maintence {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}