.Navbar {
    padding-top: 30px;
    height: 80px;
    background-color: #fff;

}

.menu{
    margin-left: 710px;
    font-size: 18px;
    font-weight: 700;
    
}


.NavButton {
    font-size: 18px;
    font-weight: 600;

}

